<div class="row">
    <div class="col-md-3 pull-right">
        <div id="irrelevantContainer">
            <div class="form-group has-feedback">
                <input placeholder="Search by UserName or note" ng-model="key" ng-keypress="search($event)" type="text" class="form-control input-sm">
                <span class="btn fa fa-search form-control-feedback" ng-click="search()" style="float: right; padding-right: 7px; margin-top: -29px; position: relative; width: 34px; background-color: #ccc;"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="map-canvas" class="map"></div>
    </div>
</div>
<!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2RLC5cpU_XAyAA_HUoaaAJHsLYSw9Mdc">
</script>-->